.containerEmpty {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-black);
  opacity: 60%;
}
